<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
  // document.write('ni hao')
  // alert('ni hao')
  // console.log('ni hao')
  // console.log('xjaocjaoc')
  // prompt('清输入你的年龄')
//   let i =1
// const name = 'kku'
//   console.log(NaN-2)
//
// let arry=['kku','jj']
//   console.log(arry.length)\
//  let age= prompt('请输入你的年龄')
//   // document.write('i am '+age)
// // document.write(`i am ${age}`)
//   let iscool=true
//   // console.log(iscool)
//   document.write(3>5)
//   let obj =null
//   document.write(obj)
//   obj= 3
//   document.write(obj)
//   let cbj
//   document.write(cbj)
//   cbj=6
//   document.write(cbj)
//   let c =typeof obj
//   console.log(c)
//   let flag= true
//   console.log(typeof flag)

  //
  // console.log(parseInt('888.991ss.99'))
  // console.log(parseFloat('mmm12.12'))
  let i=1
  // console.log(++i +1)
  // console.log(2==2)
  // console.log(2=="2")
  // console.log(2==="2")
  // console.log(2!=='2')
  // console.log('ca'<"bv" )
  // let num1 = +prompt()
  // let num2 = +prompt()
  // let syp = prompt()
  // switch (syp){
  //     case '+':
  //         console.log(num1+num2)
  //         break;
  //     case '-':
  //         console.log(num1-num2)
  //         break;
  //     case '*':
  //         console.log(num1*num2)
  //         break;
  //     case '/':
  //         console.log(num1/num2)
  //         break;
  //     default:
  //         console.log('输入错误')
  //         break;
  // }
  // let num=1
  // num+=1
  // console.log(num)
  // let p=prompt('input num')
  // let o=1
  // while(o<=p){
  //     if (o===3){
  //         o++
  //         // continue;
  //         break
  //     }
  //
  //     document.write(`我在循环第${o}次<br>`)
  //     o++
  // }
  // let arry = new Array(1,2,3,4)
  // alert(arry)
  let arr = [1,2,3,4]
  alert(arr)
  // arr.push(5)
  // arr.unshift(5)
  // console.log(arr.pop())
  // arr.shift()
  arr.splice(3,1,2)
  alert(arr)

</script>

</body>
</html>